*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
/* layout */
body {
  background: linear-gradient(-45deg, #d9c95f, #c43277, #50a5d7, #d9c95f);
  background-size: 200% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  margin: 0 2rem;
}

main {
  margin-top: 6rem;
  padding-bottom: 12rem;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 4rem;
  flex-grow: 0;
}

.card {
  width: 45ch;
  background-color: #50a5d7;
  border-radius: 0.5rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 0;
  border: 0.15rem solid black;
  box-shadow: 0.5rem 0.5rem #d9c95f;
}

.card:hover {
  transition: all 0.5s ease-in-out;
  border-color: #c43277;
  box-shadow: 0.5rem 0.5rem black;
}

.card > p {
  text-align: center;
  font-size: 6rem;
  background-color: white;
  border-radius: 50%;
  padding: 4rem;
  margin: 2rem;
  box-shadow: 0.4rem 0.4rem #c43277;
  font-style: normal;
}
.card > ul {
  list-style: none;
  margin: 1rem 0;
}
.card > ul > li {
  color: white;
  display: inline;
  margin: 0 0.25rem;
}

.card > ul > li:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #e73c7e;
  text-decoration-thickness: 0.25rem;
}
.card > ul > li::before {
  content: "#";
}

/*  font styles  */
h1 {
  color: #c43277;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: -0.25rem -0.1rem black;
  margin: 2rem 0;
  font-style: italic;
  line-height: 2.4rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 4rem 0;
  text-transform: uppercase;
  color: #c43277;
  rotate: -2.5deg;
  text-shadow: -0.1rem -0.1rem #d9c95f;
  font-style: italic;
  text-decoration: underline;
}

h3 {
  color: #c43277;
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
  line-height: 1rem;
}

p {
  font-size: 2rem;
  color: white;
  line-height: 1.5;
  margin: 1rem 0;
  font-style: italic;
  max-width: 45ch;
  margin: 0 auto;
}

.intro > p {
  font-size: 3rem;
  text-shadow: -0.15rem -0.15rem #c43277;
  line-height: 1.25;
  color: #d9c95f;
  margin: 1rem 0;
  line-height: 6rem;
}

.intro > p:hover {
  text-decoration: underline;
  text-decoration-color: #50a5d7;
}

/* header and navigation */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #d9c95f;
  border-bottom: 1px solid #c43277;
  padding: 0 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  box-shadow: 0.5rem 0 #23a6d5;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #c43277;
  text-transform: uppercase;
  text-shadow: -0.1rem -0.1rem #23a6d5;
  font-style: italic;
  font-weight: 400;
  font-size: 2rem;
}
nav a:hover {
  text-decoration: underline;
  text-decoration-color: #c43277;
  text-decoration-thickness: 0.25rem;
}

/* animations  */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
